.card {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 32px;
  text-align: left;
}

.card__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  list-style-type: none;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 0 8px;
}
