.reservation {
  background-color: #d9e7ff;
  padding: 100px 0 120px 0;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
}

.reservation__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
  margin: 0 0 32px;
}

.reservation__form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
